In [337]:
# Import libraries
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [338]:
# Import dataset to variable df
df = pd.read_csv('hotel_bookings.csv')
df

,Unnamed: 0,Noname,hotel,is_canceled,lead_time,arrival_date,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,0,0,Resort Hotel,0,342,July-2015,27,1,0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,1,1,Resort Hotel,0,737,July-2015,27,1,0,0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,2,2,Resort Hotel,0,7,July-2015,27,1,0,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,3,3,Resort Hotel,0,13,July-2015,27,1,0,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,4,4,Resort Hotel,0,14,July-2015,27,1,0,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,119385,119385,City Hotel,0,23,August-2017,35,30,2,5,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,119386,119386,City Hotel,0,102,August-2017,35,31,2,5,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,119387,119387,City Hotel,0,34,August-2017,35,31,2,5,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,119388,119388,City Hotel,0,109,August-2017,35,31,2,5,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,119389,119389,City Hotel,0,205,August-2017,35,29,2,7,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [339]:
# Remove duplicate columns
duplicate_col = ['Unamed: 0', 'Noname']
df.drop(columns=['Unnamed: 0', 'Noname'], inplace=True)
df

,hotel,is_canceled,lead_time,arrival_date,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,July-2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,July-2015,27,1,0,0,2,0.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,July-2015,27,1,0,1,1,0.0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,July-2015,27,1,0,1,1,0.0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,July-2015,27,1,0,2,2,0.0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,August-2017,35,30,2,5,2,0.0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,August-2017,35,31,2,5,3,0.0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,August-2017,35,31,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,August-2017,35,31,2,5,2,0.0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,August-2017,35,29,2,7,2,0.0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [341]:
# Remove nulls
df.isnull().sum()

# Replace nulls under 'agent'
df['agent'].unique() # Lots of unique values under 'agent'
df[df['agent'] == 1] # 'agent' isn't dependent on other columns, agent number isn't related to other columns
df['agent'].fillna(-1, inplace=True)
df.isna().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date                          0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             462
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                                 0
company                           88014
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [342]:
# Replace nulls under 'children' 
df[df['children'].isnull()] # Only 4 rows, so we drop
df.dropna(subset='children', inplace=True)
df

,hotel,is_canceled,lead_time,arrival_date,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,July-2015,27,1,0,0,2,0.0,...,No Deposit,-1.0,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,July-2015,27,1,0,0,2,0.0,...,No Deposit,-1.0,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,July-2015,27,1,0,1,1,0.0,...,No Deposit,-1.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,July-2015,27,1,0,1,1,0.0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,July-2015,27,1,0,2,2,0.0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,August-2017,35,30,2,5,2,0.0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,August-2017,35,31,2,5,3,0.0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,August-2017,35,31,2,5,2,0.0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,August-2017,35,31,2,5,2,0.0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,August-2017,35,29,2,7,2,0.0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [343]:
# Replace nulls under 'country'
df['country'].fillna('Unknown', inplace=True)
df['country'].isnull().sum()

np.int64(0)

In [344]:
# Drop unncessary column 'company'
df.drop(columns=['company'], inplace=True)
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date                      0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [345]:
# Standardize column type
# is_canceled --> change to boolean
# children --> change to int64
# is_repeated_guest --> change to boolean
# agent --> chnage to int

df = df.astype({'is_canceled': 'boolean', 'is_repeated_guest':'boolean', 'children':'int', 'agent':'int'})
df.dtypes

hotel                              object
is_canceled                       boolean
lead_time                           int64
arrival_date                       object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                            int64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 boolean
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [346]:
# Bin lead_time
df['lead_time'].describe()
bin = [0, 100, 200, 300, 400, 500, 600, 700, 800]
labels = ['0 - 100', '101 - 200', '201 - 300', '301 - 400', '401 - 500', '501 - 600', '601 - 700', '701 - 800']

df['leadtime_binned'] = pd.cut(df['lead_time'], bins=bin, labels=labels)
df[['lead_time', 'leadtime_binned']]

        lead_time leadtime_binned
0             342       301 - 400
1             737       701 - 800
2               7         0 - 100
3              13         0 - 100
4              14         0 - 100
...           ...             ...
119385         23         0 - 100
119386        102       101 - 200
119387         34         0 - 100
119388        109       101 - 200
119389        205       201 - 300

[93627 rows x 2 columns]

In [347]:
# Seperate arrival_time
df ['arrival_month'] = df['arrival_date'].str.split('-', expand=True)[0]
df ['arrival_year'] = df['arrival_date'].str.split('-', expand=True)[1]

column_to_move = df.pop('arrival_month')
df.insert(4, 'arrival_month', column_to_move)

column_to_move = df.pop('arrival_year')
df.insert(5, 'arrival_year', column_to_move)

df.drop(columns=['arrival_date'], inplace=True)

df.head()

,hotel,is_canceled,lead_time,arrival_month,arrival_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,leadtime_binned
0,Resort Hotel,False,342,July,2015,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301 - 400
1,Resort Hotel,False,737,July,2015,27,1,0,0,2,...,No Deposit,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701 - 800
2,Resort Hotel,False,7,July,2015,27,1,0,1,1,...,No Deposit,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0 - 100
3,Resort Hotel,False,13,July,2015,27,1,0,1,1,...,No Deposit,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0 - 100
4,Resort Hotel,False,14,July,2015,27,1,0,2,2,...,No Deposit,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0 - 100

In [348]:
# String cleaning
df['hotel'] = df['hotel'].replace(r'[\*\n\^]','', regex=True)
df['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [353]:
# Remove duplicate rows
df=df.drop_duplicates(keep='first')
df.loc[df.duplicated(keep=False)]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_month, arrival_year, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, leadtime_binned]
Index: []

[0 rows x 32 columns]